body {
    background: #fafafa;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

select {
    font-size: 14px;
}

.main-header {
    margin: 4px auto;
    text-align: center;
}

.dataset-header {
    margin: 2px;
}

.dataset-metadata,
.frequency-metadata {
    margin: 6px 0;
    font-weight: 300;
    opacity: 0.85;
}

.dataset-description,
.dataset-attribution {
    font-size: 13px;
    font-weight: 300;
}

.study-container,
.example-container,
.result-container {
    width: 1000px;
    margin: 10px auto;
}

.study-container {
    text-align: center;
}

.result-container.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-container {
    width: 1000px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
}

.controls {
    width: 1000px;
    margin: 10px auto;
    font-weight: 300;
}

.primary-control {
    width: 100%;
    height: 28px;
    font-size: 20px;
    margin: 10px auto;
    padding: 0;
    text-align: center;
}

/* TODO: primary-control vs .control.secondary */
.control.secondary {
    font-weight: 300;
}

.secondary-controls-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 16px;
}

.control.right {
    text-align: right;
}

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #3333;
}

.instructions {
    text-align: center;
    opacity: 0.90;
    font-weight: 300;
    font-size: 15px;
}

.instructions.add-card {
    text-align: left;
}

.add-card-form-item {
    font-size: 14px;
}

.add-card-submit {
    width: 100px;
    height: 26px;
}

.dataset-results {
    margin: 4px;
}

.primary-control-container {
    margin: 10px 0;
}

.example-text {
    margin: 4px 0;
}

.base.example-text {
    font-weight: 300;
}

.example {
    margin: 10px 0;
}

.options-toggle {
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    margin: 4px 0;
    vertical-align: top;
    margin: 4px 0 0 14px;
    line-height: 20px;
    font-weight: bold;
}

.option-list {
    margin: 8px 0;
    padding: 8px;
    font-weight: 300;
    list-style-type: none;
    border: 1px solid #3333;
}

.more-options {
    color: #6de200;
}

.less-options {
    color: #ff635f;
    font-size: 18px;
}

.example-option {
    padding-bottom: 4px;
    border-bottom: 1px solid #3333;
}

.target {
    font-size: 18px;
    width: calc(100% - 40px);
    display: inline-block;
}

.base {
    font-size: 14px;
}

.token {
    cursor: pointer;
}

.definition .token {
    text-decoration: underline;
}

.definition {
    font-size: 18px;
}

.definition.term {
    font-weight: bold;
}

.definition.tags {
    font-size: 14px;
}

.searched-term {
    background-color: #ff635f33;
}

.example-list {
    list-style-type: none;
    padding: 0;
}

.tab {
    cursor: pointer;
}

.tab.active {
    font-weight: bold;
}

/* TODO: is this going to be the same for the definitions fallback? */
.collocation-list {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}

.collocation {
    cursor: pointer;
    margin: 8px 0;
}

.search-suggestions {
    padding: 2px;
    border: 1px solid #3333;
    margin: 0;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
}

.search-suggestion {
    margin: 12px;
    cursor: pointer;
}

.tts {
    cursor: pointer;
}

/* icons */
.volume {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(0.7);
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 4px;
    vertical-align: middle;
}

.volume::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 4px;
    left: 7px
}

.study {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
}

.study::after,
.study::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    height: 2px;
    background: currentColor;
    left: 2px
}

.study::before {
    box-shadow:
        0 4px 0,
        0 8px 0;
    width: 12px;
    top: 2px
}

.study::after {
    width: 6px;
    top: 14px
}

.search {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    cursor: pointer;
}

.search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}

.menu {
    margin-top: 8px;
}

.menu,
.menu::after,
.menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: currentColor;
    cursor: pointer;
}

.menu::after,
.menu::before {
    content: "";
    position: absolute;
    top: -6px
}

.menu::after {
    top: 6px
}

.export {
    cursor: pointer;
}

.result-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    gap: 30px;
    font-weight: bold;
}

.wrong-button {
    background-color: #ff635f;
    color: black;
    margin: 0 100px;
}

.right-button {
    background-color: #6de200;
    color: black;
    margin: 0 100px;
}

.result-indicator-wrong {
    background-color: #ff635f;
    color: black;
}

.result-indicator-right {
    background-color: #6de200;
    color: black;
}

.delete-button {
    margin-top: 50px;
    text-decoration: underline;
    cursor: pointer;
}

.study-container {
    font-weight: 300;
}

.study-container .instructions {
    margin: 20px auto;
}

.instructions.call-to-action {
    font-size: 18px;
}

.question {
    font-size: 24px;
    margin-bottom: 40px;
}

.answer {
    margin-top: 20px;
    font-size: 24px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: rgba(255, 255, 255, 0.87);
    }

    input[type="search"] {
        background-color: rgba(74, 74, 74, 0.9);
        border: 1px solid #3333;
        color: rgba(255, 255, 255, 0.87);
    }

    .dataset-attribution a {
        color: rgba(177, 178, 225, 0.95);
    }

    input::placeholder {
        color: #eeee;
    }

    .tabs {
        border-bottom: 1px solid #eeee;
    }

    .option-list {
        border: 1px solid #eee4;
    }

    .example-option {
        border-bottom: 1px solid #eeee;
    }
}

@media (max-width: 1024px) {

    .example-container,
    .header-container,
    .controls,
    .tabs,
    .study-container,
    .result-container {
        width: 98%;
    }

    .right-button {
        margin: 0;
    }

    .wrong-button {
        margin: 0;
    }
}

@media (max-width:664px) {
    h1 {
        font-size: 24px;
    }

    .example-container,
    .header-container,
    .study-container,
    .controls,
    .tabs,
    .result-container {
        width: 98%;
    }

    .result-container.grid {
        grid-template-columns: 1fr;
    }

    .secondary-controls-container {
        font-size: 14px;
    }
}